<form
><label><input type="radio" name="image" value="undefined" riot-checked={ recalls ('choices') .indexOf (recalls ('image')) === -1 } /><img src="http://www.lincscareassociation.org.uk/data/files/NoImageSelected.png"></label
><label each={ image, choice in recalls ('choices') }><input type="radio" name="image" value={ image } riot-checked={ image === recalls ('image') } /><img src={ image }></label
></form>

<script>
(function (self) {
	self .stuff .on ('image', function (value, from_downstream) {
		if (! from_downstream)
			self .update ();
	});
	
	self .on ('mount', function () {
    	var radios = self .root .querySelectorAll('input[type=radio][name="image"]');
    
        [] .forEach .call (radios, function (radio) {
            radio .addEventListener ('change', function (event) {   
               self .stuff .trigger ('image', this .value, event);
            });
        });
	});
	
})(this);
</script>

<style>
    <%-tag%> form {
        /*style the "box" in its minimzed state*/
        width:100%; height:75%; overflow:hidden;
        /*animate collapsing the dropdown from open to closed state (v. fast)*/
        -moz-transition: height 0.1s; 
        -webkit-transition: height 0.1s; 
        -ms-transition: height 0.1s;  
        -o-transition: height 0.1s;  
        transition: height 0.1s;
        white-space: normal;
            
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: .5em;
        border: 0;
        border: 1px solid hsl(80%, 80%, 80%);
        background: hsla(0,0%,100%,.2);
        border-radius: .3em;
        box-shadow: .05em .1em .3em rgba(0,0,0,.3) inset;
        text-align: center;
        line-height: 50px;
    }
    
    <%-tag%> form:hover {
        /*when expanded, the dropdown will get native means of scrolling*/
        height: 100%; overflow-y:scroll;
        /*nice and smooth expand - speed this up at your preference or remove animation altogether*/
        -moz-transition: height 0.5s; 
        -webkit-transition: height 0.5s; 
        -ms-transition: height 0.5s;  
        -o-transition: height 0.5s;  
        transition: height 0.5s;
        
        line-height: initial;
    }
    <%-tag%> form input {
        /*hide the nasty default radio buttons. like, completely!*/
        height: 0; width: 0; opacity:0;
    }
    
    
    <%-tag%> form img {
      height: auto;
      width: 20%;
    }
    <%-tag%> form label input[value="undefined"] ~ * {
        height: 100%;
        width: auto;
    }
    <%-tag%> form:hover label input[value="undefined"] ~ * {
        display:none;
    }
    <%-tag%> form label input ~ * {
        display:none;
        margin:2px;
        opacity:0.2; 
        -webkit-filter: blur(1px);
    }
    <%-tag%> form:hover label input ~ * {
        display:inline-block;
    }
    <%-tag%> form label:hover input ~ * {
        opacity:0.5;
        -webkit-filter: none;
    }
    <%-tag%> form label input:checked ~ * {
        opacity:1;
        -webkit-filter: none;
        display:inline-block;
    }
</style>