
<div class="time-table">
    <div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (7) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (7) } />
    </div><!--
    --><div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (6) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (6) } />
    </div><!--
    --><div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (5) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (5) } />
    </div><!--
    --><div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (4) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (4) } />
    </div><!--
    --><div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (3) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (3) } />
    </div><!--
    --><div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (2) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (2) } />
    </div><!--
    --><div class="hour-column">
        <span class="hour-column-item header">{ recalls ('header') (1) }</span>
        <span class="hour-column-item { selected: available }" each={ available, timeslot in recalls ('timeslots') (1) } />
    </div><!--
    --><div class="hour-column time">
        <span class="hour-column-item header">{ recalls ('header') (0) }</span>
        <span class="hour-column-item time" each={ name, timeslot in recalls ('timeslots') (0) }>{ name }</span>
    </div>
</div>

<script>
(function (self) {
	var custom_headers = {}
	var selected_slots = {};
	
	var headers;
	var timeslots;
	
	var timeslot_elements;
	
	
	var regenerate_timeslots =	function () {
									if (opts .headers)
										custom_headers = self .recalls (opts .headers);
									if (opts .selections)
										selected_slots = self .recalls (opts .selections);
									
									headers = ['幾點', '一', '二', '三', '四', '五', '六', '日'];
									timeslots =	[
													['6AM', '7AM', '8AM', '9AM', '10AM', '11AM', '12PM', '1PM', '2PM', '3PM', '4PM', '5PM', '6PM', '7PM', '8PM', '9PM', '10PM', '11PM', '12AM'], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false], 
													[false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false, false]
												];
													
									for (var each in custom_headers) {
										headers [each] = custom_headers [each];
									}				
									for (var each in selected_slots) {
										var day = (each - each % 100) / 100;
										var hour = each % 100;
										timeslots [day] [hour] = selected_slots [each];
									}
									
									//log (headers, timeslots);
								};
	regenerate_timeslots ();
	
	var click_area =	function (box) {
							for (var x = box .start_x; x <= box .end_x; x++) {
								for (var y = box .start_y; y <= box .end_y; y++) {//log ('inverting '+x+' '+y);
									timeslots [x] [y] = ! timeslots [x] [y];
									if (timeslots [x] [y]) {
										selected_slots [serialize_timeslot (x, y)] = true;
										timeslot_elements [x] [y] .classList .add ('selected');
									}
									else {
										delete selected_slots [serialize_timeslot (x, y)];
										timeslot_elements [x] [y] .classList .remove ('selected');
									}
								}
							}
							if (opts .selections)
								self .stuff .trigger (opts .selections, selected_slots);
						};
						/*var add =	function (array, item) {
									    if (array .indexOf (item) == -1) {
									    //if(jQuery.inArray(item, this) == -1) {
									        array .push (item);
									        return true;
									    }
									    return false;
									};
						var remove =	function (array, item) {
											var index = array .indexOf (item);
											if (index > -1) {
											    array .splice (index, 1);
											}
										};*/
						var serialize_timeslot =	function (day, hour) {
														return day * 100 + hour;
													};
	
	
	self .on ('update', regenerate_timeslots);
	
	self .remembers ('header');
	self .remembers ('timeslots');
	
	self .stuff .trigger ('header', function (day) {
		return headers [day];
	});
	self .stuff .trigger ('timeslots', function (day) {
		return timeslots [day];
	});
	
	
	self .remembers ('click-header');
	self .remembers ('click-item');
	self .stuff .trigger ('click-header', function (day) {
		return	function (e) {
					//log ('clicked', day);
					if (day === 0) {
						click_area ({
							start_x: 1,
							end_x: 7,
							start_y: 0,
							end_y: 18
						});
					}
					else {
						click_area ({
							start_x: day,
							end_x: day,
							start_y: 0,
							end_y: 18
						});
					}
					e .preventUpdate = true;
				}
	});
	self .stuff .trigger ('click-item', function (day) {
		return	function (timeslot) {
					return	function (e) {
								//log ('clicked', day, timeslot);
								if (day === 0) {
									click_area ({
										start_x: 1,
										end_x: 7,
										start_y: timeslot,
										end_y: timeslot
									});
									timeslot_elements [0] [timeslot] .classList .add ('clicked');
									setTimeout (function () {
										if (timeslot_elements [0] [timeslot])
											timeslot_elements [0] [timeslot] .classList .remove ('clicked');
									}, 150);
								}
								else {
									click_area ({
										start_x: day,
										end_x: day,
										start_y: timeslot,
										end_y: timeslot
									});
								}
								e .preventUpdate = true;
							};
				};
	});
	
	self .on ('mount', function () {
		var days = [] .slice .call (self .root .querySelectorAll ('.hour-column')) .reverse ();
		timeslot_elements =	days .map (function (day) {
								return [] .slice .call (day .querySelectorAll ('.hour-column-item'), 1);
							});
							
		var header_elements = [] .slice .call (self .root .querySelectorAll ('.hour-column-item.header')) .reverse ();
							
		for (var day of [0, 1, 2, 3, 4, 5, 6, 7]) {
			header_elements [day] .addEventListener ('click', self .recalls ('click-header') (day));
			for (var timeslot in timeslot_elements [day]) {
				timeslot_elements [day] [timeslot] .addEventListener ('click', self .recalls ('click-item') (day) (timeslot));
			}
		}
	});
	self .on ('updated', function () {
		var days = [] .slice .call (self .root .querySelectorAll ('.hour-column')) .reverse ();
		timeslot_elements =	days .map (function (day) {
								return [] .slice .call (day .querySelectorAll ('.hour-column-item'), 1);
							});
							
		var header_elements = [] .slice .call (self .root .querySelectorAll ('.hour-column-item.header')) .reverse ();
							
		for (var day of [0, 1, 2, 3, 4, 5, 6, 7]) {
			header_elements [day] .addEventListener ('click', self .recalls ('click-header') (day));
			for (var timeslot in timeslot_elements [day]) {
				timeslot_elements [day] [timeslot] .addEventListener ('click', self .recalls ('click-item') (day) (timeslot));
			}
		}
	});
	
})(this)
</script>

<style>
	<%-tag%> .time-table {
		text-align: center;
		z-index: 200;
		width: 100%;
		height: 100%;
		margin: 0 !important;
		padding: 15px !important;
		max-width: none;
		font-size: 14px;
		white-space: nowrap;
		direction: rtl;
	}
	<%-tag%> .hour-column {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		width: 12.25%;
		max-width: 12.25%;
		height: 100%;
		display: inline-table;
		position: relative;
	}
	<%-tag%> .hour-column-item.header {
		font-weight: bold;
		border: none;
		font-size: 1.3em;
		margin-bottom: 10px;
		margin-top: -5px;
	}
	<%-tag%> .time-table .hour-column:first-child .hour-column-item {
		border-right: none;
	}
	<%-tag%> .hour-column-item {
		width: 100%;
		height: 5%;
		display: block;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		box-sizing: content-box;
	}
	<%-tag%> .hour-column-item:last-child {
		border-bottom: none;
	}
	<%-tag%> .hour-column-item.selected {
		background: rgba(66, 165, 245, 0.5);
		border: none;
		-webkit-filter: drop-shadow(5px 5px 5px rgba(66, 165, 245, 0.5));
		filter: drop-shadow(5px 5px 5px rgba(66, 165, 245, 0.5));
	}
	<%-tag%> .time .hour-column-item.time {
		border-radius: 3px;
		border: 1px solid #aaa;
		font-size: 1.3em;
		transform: scale3d(0.9, 0.9, 1) translate3d(-2px, 0px, 0px);
		box-sizing: content-box;
		font-weight: lighter;
	}
	<%-tag%> .time .hour-column-item.time:not(.clicked) {
		box-shadow: 2px 1px 1px #ddd;
	}
</style>

