<!DOCTYPE html>
<html>
	<head>
		<script><%- require ('./get') (__filename) ('log.js') %></script>
		<script><%- require ('./get') (__filename) ('alert.js') %></script>
		
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<the-app></the-app>

		<!-- your app's js -->
		<script><%- require ('./get') (__filename) ('promise.js') %></script>
		<script><%- require ('./get') (__filename) ('fetch.js') %></script>
		<script><%- require ('./get') (__filename) ('request-animation-frame.js') %></script>
		<script><%- require ('./get') (__filename) ('riot.js') %></script>
		<script><%- require ('./get') (__filename) ('use-dom.js') %></script>
		<script><%- require ('./get') (__filename) ('util.js') %></script>
		<script><%- require ('./get') (__filename) ('moment-with-locales.js') %></script>
		<script><%- require ('./get') (__filename) ('tags.js') %></script>
		<script><%- require ('./get') (__filename) ('use-riot.js') %></script>
	</body>
</html>