<!DOCTYPE html>
<html>
	<head>
		<script><%- src (__file + 'log.js') %></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
	</head>
	<body>
		<the-app></the-app>

		<!-- your app's js -->
		<script><%- src (__file + 'promise.js') %></script>
		<script><%- src (__file + 'fetch.js') %></script>
		<script><%- src (__file + 'riot.min.js') %></script>
		<script><%- src (__file + 'util.js') %></script>
		<script><%- src (__file + 'tags.js') %></script>
		<script><%- src (__file + 'use-riot.js') %></script>
	</body>
</html>